{% extends "layout.twig" %}

{% block title %}{{ parent() }} | Ajout Utilisateur{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        {% if isNew == 0 %}
                            <h3>Modifier un utilisateur</h3>
                        {% elseif isNew == 1 %}
                            <h3>Ajouter un utilisateur</h3>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" method="post" id="FormUser">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-user-circle-o"></i>
                                            </span>
                                                <input type="text" class="form-control" name="lastname" placeholder="Nom *" value="{{ user.getLastname() }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-user-circle-o"></i>
                                            </span>
                                                <input type="text" class="form-control" name="firstname" placeholder="Prenom *" value="{{ user.getFirstname() }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                            </span>
                                                <input type="text" class="form-control" name="birth_date" placeholder="Date de naissance *" onfocus="(this.type='date')" value="{{ user.getBirthDate() }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-map-marker"></i>
                                            </span>
                                                <input type="text" class="form-control" name="birth_place" placeholder="Lieu de naissance" value="{{ user.getBirthPlace() }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-flag"></i>
                                            </span>
                                                <input type="text" class="form-control" name="nationality" placeholder="Nationalité" value="{{ user.getNationality() }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-street-view"></i>
                                            </span>
                                                <input type="text" class="form-control" name="adress" placeholder="Adresse *" value="{{ user.getAdress() }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-street-view"></i>
                                            </span>
                                                <input type="text" id="autocomplete" class="form-control" name="postal_code" placeholder="Code postal *" value="{{ user.getPostalCode() }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-street-view"></i>
                                            </span>
                                                <input type="text" class="form-control" name="city" placeholder="Ville *" value="{{ user.getCity() }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-mobile"></i>
                                            </span>
                                                <input type="text" class="form-control" name="phone" placeholder="Telephone" value="{{ user.getPhone() }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i>
                                            </span>
                                                <input type="text" class="form-control required" name="email" placeholder="Email *" value="{{ user.getEmail() }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-key"></i>
                                            </span>
                                        <input type="password" class="form-control" name="password" placeholder="Mot de passe *" value="{{ user.getPassword() }}">
                                    </div>
                                    <input type="hidden" name="__posted" value="1"/>
                                    <button type="submit" class="btn btn-primary pull-right">Valider</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascript %}
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery.validate.js"></script>
        <script type="text/javascript" src="/js/toastr.min.js"></script>

        <script type="text/javascript" src="/js/jquery.easy-autocomplete.js"></script>
        <script type="text/javascript">
            $("#FormUser").submit(function(){

                $.ajax({
                    url : '/admin/user',
                    type : 'POST',
                    dataType : 'data',
                    success : function(code_html, statut){ // success est toujours en place, bien sûr !
                        toastr.success("good");
                    },

                    error : function(resultat, statut, erreur){
                        toastr.error("good");
                    }

                });

            });

        </script>
    {% endblock %}
{% endblock %}