{% extends "layout.twig" %}

{% block title %}{{ parent() }} | Ajout Mission{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        {% if isNew == 0 %}
                            <h3>Editer une mission</h3>
                        {% elseif isNew == 1 %}
                            <h3>Ajouter une mission</h3>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" method="post" id="FormMission">
                                    <legend>
                                        Informations pour la mission
                                    </legend>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-list-ol"></i>
                                            </span>
                                                <input type="text" class="form-control" name="mission_number"
                                                       placeholder="Numéro de mission"
                                                       value="{{ mission.getMissionNumber() }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i>
                                            </span>
                                                <input type="text" class="form-control" name="start_time"
                                                       placeholder="Heure de début"
                                                       value="{{ mission.getStartTime() }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon"><i class="fa fa-clock-o"></i>
                                                </span>
                                                <input type="text" class="form-control" name="end_time"
                                                       placeholder="Heure de fin" value="{{ mission.getEndTime() }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-map-marker"></i>
                                            </span>
                                                <input type="text" class="form-control" name="place_departure"
                                                       placeholder="Lieu de départ"
                                                       value="{{ mission.getPlaceDeparture() }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon"><i class="fa fa-map-marker"></i>
                                                </span>
                                                <input type="text" class="form-control" name="place_arrival"
                                                       placeholder="Lieu d'arrivée"
                                                       value="{{ mission.getPlaceArrival() }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i>
                                            </span>
                                                <input type="text" class="form-control" name="time"
                                                       placeholder="Temps de la mission"
                                                       value="{{ mission.getTime() }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar-o"></i>
                                            </span>
                                                <input type="date" class="form-control" required ="required" id="date" name="date"
                                                       placeholder="Date de la mission" value="{{ mission.getDate() }}">
                                            </div>
                                        </div>
                                    </div>
                                    <legend>
                                        Cout de la mission
                                    </legend>
                                    <legend>
                                        <h4>infos salaires</h4>
                                    </legend>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Salaire horaire</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="salary" placeholder="" value="{{ mission.getSalary() }}">
                                                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Congés payés</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="time_off" placeholder="" value="{{ mission.getTimeOff() }}">
                                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Précarité</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="precarity" placeholder="" value="{{ mission.getPrecarity() }}">
                                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>commission forfaitaire</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="commission_forfaitaire" placeholder="" value="{{ mission.getComissionForfaitaire() }}">
                                                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>commission / pax</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="commission_pax" placeholder="" value="{{ mission.getCommissionPax() }}">
                                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Avance sur frais</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="avance" placeholder="" value="{{ mission.getAvance() }}">
                                                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <legend>
                                        <h4>infos vente</h4>
                                    </legend>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Taux horaire</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control required" name="taux_horaire" placeholder="" value="{{ mission.getTauxHoraire() }}">
                                                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Frais forfaitaires</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="frais_forfaitaire" placeholder="" value="{{ mission.getFraisForfaitaire() }}">
                                                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Commission forfaitaire /pax</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="commission_forfaitaire_pax" placeholder="" value="{{ mission.getCommissionForfaitairePax() }}">
                                                    <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>commission billeterie</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="commission_billeterie" placeholder="" value="{{ mission.getCommissionBilleterie() }}">
                                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>taux commission /pax /h</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="taux_commission_pax_heure" placeholder="" value="{{ mission.getTauxCommissionPaxHeure() }}">
                                                    <span class=" input-group-addon">
                                                    <i class="fa fa-percent"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Taux TVA</label>
                                                <div class="form-group input-group">
                                                    <input type="text" class="form-control" name="taux_tva" placeholder="" value="{{ mission.getTauxTva() }}">
                                                    <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="ajout" name="__posted" value="1"/>
                                    <button type="submit" class="btn btn-primary pull-right">Valider</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascript %}
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery.validate.js"></script>
        <script>
            $(document).ready(function(){
                // Ajout de notre méthode
                $.validator.addClassRules({
                    checkinput:{
                        required: true,
                        digits: true
                    },
                    checkemail:{
                        required: true,
                        email: true
                    },
                    date:{
                        required: true,
                        date: true

                    }

                });
                // Initialisation du plugin
                $("#FormMission").validate();
            });
        </script>
    {% endblock %}
{% endblock %}


